package {{package}};

import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Column;
import org.springframework.data.relational.core.mapping.Table;
import jakarta.persistence.OneToMany;
import jakarta.persistence.ManyToOne;
import jakarta.persistence.ManyToMany;
import jakarta.persistence.JoinColumn;
import jakarta.persistence.JoinTable;
import java.util.List;

/** {{rawTable.remarks}}
    {{rawTable.tableCat}}.{{rawTable.tableSchem}}.{{rawTable.tableName}}{{#generationInfo}}

    {{generationInfo}}{{/generationInfo}}
*/
@Table(schema = "{{rawTable.tableSchem}}", name = "{{rawTable.tableName}}")
public class {{className}} {
    {{#properties}}

    /** {{rawColumn.remarks}}
        {{rawColumn.columnName}} {{rawColumn.typeName}}({{rawColumn.columnSize}}) Nullable={{rawColumn.isNullable}}
    */
    @Column("{{rawColumn.columnName}}") {{#isId}}@Id{{/isId}}{{^isNullable}}

    @jakarta.validation.constraints.NotNull{{/isNullable}}{{#size}}

    @jakarta.validation.constraints.Size(max = {{size}}){{/size}}
    private {{propertyType}} {{propertyName}};
    {{/properties}}
    {{#oneToManyRelations}}

    @OneToMany
    @JoinColumn(name = "{{joinColumn}}")
    private List<{{targetClassName}}> {{fieldName}};
    {{/oneToManyRelations}}

    {{#manyToOneRelations}}

    @ManyToOne
    @JoinColumn(name = "{{joinColumn}}")
    private {{targetClassName}} {{fieldName}};
    {{/manyToOneRelations}}

    {{#manyToManyRelations}}

    @ManyToMany
    @JoinTable(name = "{{joinTable}}",
        joinColumns = @JoinColumn(name = "{{joinColumn}}"),
        inverseJoinColumns = @JoinColumn(name = "{{inverseJoinColumn}}"))
    private List<{{targetClassName}}> {{fieldName}};
    {{/manyToManyRelations}}

    {{#properties}}

    public {{propertyType}} get{{methodName}}() {
        return {{propertyName}};
    }

    public void set{{methodName}}({{propertyType}} {{propertyName}}) {
        this.{{propertyName}} = {{propertyName}};
    }

    {{/properties}}

    {{#oneToManyRelations}}

    public List<{{targetClassName}}> get{{methodName}}() {
        return {{fieldName}};
    }

    public void set{{methodName}}(List<{{targetClassName}}> {{fieldName}}) {
        this.{{fieldName}} = {{fieldName}};
    }

    {{/oneToManyRelations}}

    {{#manyToOneRelations}}

    public {{targetClassName}} get{{methodName}}() {
        return {{fieldName}};
    }

    public void set{{methodName}}({{targetClassName}} {{fieldName}}) {
        this.{{fieldName}} = {{fieldName}};
    }

    {{/manyToOneRelations}}

    {{#manyToManyRelations}}

    public List<{{targetClassName}}> get{{methodName}}() {
        return {{fieldName}};
    }

    public void set{{methodName}}(List<{{targetClassName}}> {{fieldName}}) {
        this.{{fieldName}} = {{fieldName}};
    }

    {{/manyToManyRelations}}
}
