package {{package}};

import org.springframework.data.annotation.Id;
import org.springframework.data.relational.core.mapping.Column;
import org.springframework.data.relational.core.mapping.Table;

/** {{rawTable.remarks}}
    {{rawTable.tableCat}}.{{rawTable.tableSchem}}.{{rawTable.tableName}}{{#generationInfo}}

    {{generationInfo}}{{/generationInfo}}
*/
@Table(schema = "{{rawTable.tableSchem}}", name = "{{rawTable.tableName}}")
public class {{className}} {
    {{#properties}}

    /** {{rawColumn.remarks}}
        {{rawColumn.columnName}} {{rawColumn.typeName}}({{rawColumn.columnSize}}) Nullable={{rawColumn.isNullable}}
    */
    @Column("{{rawColumn.columnName}}") {{#isId}}@Id{{/isId}}{{^isNullable}}

    @jakarta.validation.constraints.NotNull{{/isNullable}}{{#size}}

    @jakarta.validation.constraints.Size(max = {{size}}){{/size}}
    private {{propertyType}} {{propertyName}};
    {{/properties}}
    {{#properties}}

    public {{propertyType}} get{{methodName}}() {
        return {{propertyName}};
    }

    public void set{{methodName}}({{propertyType}} {{propertyName}}) {
        this.{{propertyName}} = {{propertyName}};
    }

    {{/properties}}
}
